{% extends 'hod_template/base_template.html' %}

{% block main_content %}

{% load static %}

<section class="content">
  <div class="container-fluid">
    <!-- Thống kê tổng quan -->
    <div class="row">
      <div class="col-lg-3 col-6">
        <div class="small-box bg-info">
          <div class="inner">
            <h3>{{ hoc_sinh_count }}</h3>
            <p>Học sinh</p>
          </div>
          <div class="icon">
            <i class="fas fa-user-graduate"></i>
          </div>
          <a href="{% url 'manage_student' %}" class="small-box-footer">Chi tiết <i class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <div class="col-lg-3 col-6">
        <div class="small-box bg-success">
          <div class="inner">
            <h3>{{ giao_vien_count }}</h3>
            <p>Giáo viên</p>
          </div>
          <div class="icon">
            <i class="fas fa-chalkboard-teacher"></i>
          </div>
          <a href="{% url 'manage_teacher' %}" class="small-box-footer">Chi tiết <i class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <div class="col-lg-3 col-6">
        <div class="small-box bg-warning">
          <div class="inner">
            <h3>{{ lop_hoc_count }}</h3>
            <p>Lớp học</p>
          </div>
          <div class="icon">
            <i class="fas fa-school"></i>
          </div>
          <a href="{% url 'manage_class' %}" class="small-box-footer">Chi tiết <i class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <div class="col-lg-3 col-6">
        <div class="small-box bg-danger">
          <div class="inner">
            <h3>{{ mon_hoc_count }}</h3>
            <p>Môn học</p>
          </div>
          <div class="icon">
            <i class="fas fa-book"></i>
          </div>
          <a href="{% url 'manage_subjects' %}" class="small-box-footer">Chi tiết <i class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock main_content %}

{% block custom_js %}
<!-- Nếu có biểu đồ thống kê sau này sẽ thêm vào đây -->
{% endblock custom_js %}